.header{
    font-family:'Courier New', Courier, monospace;
    color:rgb(6, 63, 6)
}

body{
    color:rgb(6, 63, 6);
    font-family:monospace;
    background-color: rgb(230, 249, 230);
    text-align: center;
    margin: 15px;
    border: 3px solid rgb(6, 63, 6);
    padding: 10px;
    font-size: larger;
}


a:hover {
    color: #0056b3;
    text-decoration: underline;
    
}

a{
    color: rgb(6, 63, 6);
    font-family:monospace;
    font-size:Medium;
}

.other{
    font-family:'Courier New', Courier, monospace;
    color: rgb(6, 63, 6);
    text-align: left;
    font-size: medium;
    list-style-position: inside;
    padding: 0
}
